<mat-card class="example-card mat-elevation-z0">
    <br>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Control Panel</mat-card-title>
      <mat-card-subtitle>Soulutions</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.lynda.com/course/500545/500545-637199612398616459-16x9.jpg" alt="">
    <mat-card-content>
      <span>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, The Shiba Inu is the smallest of the six original and distinct spitz breeds. A small, The Shiba Inu is the 
      </span>
    </mat-card-content>
    
    <mat-card-actions align="left">
        

        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
        </button>

    </mat-card-actions>
  </mat-card>
  
