
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        
       <mat-icon class="example-tab-icon">group_add</mat-icon> Create User
  
      </ng-template><br>
  
      <div>
  
      <mat-card fxlex = "99%" class="mat-elevation-z0">
  
        <form class="example-form">

          <h4>SAVE USER</h4>
        
          <mat-form-field class="example-full-width">
            <mat-label>User Code</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field> <br>
      
          <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="" value="">
          </mat-form-field> <br>
      
          <!--Location-->
          <mat-form-field>
              <mat-label>Select Location</mat-label>
              <mat-select [formControl]="loca_selector" [errorStateMatcher]="matcher">
                <mat-option>Clear</mat-option>
                <mat-option value="valid">Location 01</mat-option>
                <mat-option value="valid">Location 02</mat-option>
                <mat-option value="valid">Location 03</mat-option>
                <mat-option value="valid">Location 04</mat-option>
                <mat-option value="invalid" (click)="toggleCustomerModel(null)">Add New </mat-option>
              </mat-select>
      
              <mat-error *ngIf="loca_selector.hasError('required')">You must make a selection</mat-error>
              <mat-error *ngIf="loca_selector.hasError('pattern') && !loca_selector.hasError('required')">
                Your selection is invalid
              </mat-error>
          </mat-form-field>
      
          <!--Role selection-->
      
          <mat-form-field>
              <mat-label>Assign Role</mat-label>
              <mat-select [formControl]="role_selector" [errorStateMatcher]="matcher">
                <mat-option>Clear</mat-option>
                <mat-option value="valid">Administrator</mat-option>
                <mat-option value="valid">User</mat-option>
                <mat-option value="valid">Other</mat-option>
                <mat-option value="invalid">Add New </mat-option>
              </mat-select>
      
              <mat-error *ngIf="role_selector.hasError('required')">You must make a selection</mat-error>
              <mat-error *ngIf="role_selector.hasError('pattern') && !role_selector.hasError('required')">
                Your selection is invalid
              </mat-error>
          </mat-form-field> 
      
          <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="" value="">
          </mat-form-field> <br>
      
          <mat-form-field class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="" value="">
          </mat-form-field> <br>
      
      
            <mat-form-field class="example-full-width">
              <mat-label>Contact Number</mat-label>
              <span matPrefix>+094 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
      
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
      
      
          <br>
      
          <!--buttons-->
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap = "2px">
              <div fxFlex="100"> 
                  <div class="example-button-row">
                      <button mat-raised-button color="success">SAVE USER</button>
                      <button mat-raised-button color="warn">DELETE USER</button>
                    </div>
              </div>
      
          </div>
      
        </form>
    
      </mat-card>
  
      </div>
  
    </mat-tab>
  
    <!------------------------->
  
      <mat-tab>
  
    <ng-template mat-tab-label>
        
         <mat-icon class="example-tab-icon">group_add</mat-icon> Additional Privilages
  
        </ng-template><br>
  
        <div>
  
          <mat-card fxlex = "99%" class="mat-elevation-z0">
  
            <form class="example-form">
              
            </form> 
    
          </mat-card>
  
        </div>
       
      </mat-tab>
  
  
    </mat-tab-group>
  
              
  
  
    
    

  <p-dialog [(visible)]="display" [responsive]="true" [modal]="true" [positionTop]="100" [showHeader]="true"
  [dismissableMask]="true" [blockScroll]="false">    

      <div class="example-loading-shade">
        <div class="row">
          
          <div class="col-md-12 dialog-box-title">
            Add New Location<br>
          </div>

          <div class="col-md-12">
            <app-update-location  #locationModal (importOut)="newModalCalls()"></app-update-location> 
          </div>
        
      </div>  

    </div>  

  </p-dialog>

  <!-- <p-confirmDialog appendTo="body" header="Confirmation" icon="pi pi-exclamation-triangle" ></p-confirmDialog> -->

  
  





