.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

//accordian controlls
.mat-expansion-panel{
    background-color:white;
}
.mat-expansion-panel-header{
    background-color:whitesmoke
}

.mat-action-row{
    background-color:whitesmoke
}

//mat cards and chk boxes
.mat-card{
    height: 250px;
    overflow: auto;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .mat_sm.mat-card{
    height: 70px;
    overflow: hidden;
  }

.mat_select_msg01
  {
    display: flex;
    width: max-content;
  }




 