/* Structure */
table 
{
    width: 100%;
    border-style: none;
    align-items: center;
    height: 20px;
    cursor: pointer;
}

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #eee;
}

  
  .mat-form-field 
  {
    font-size: 14px;
    width: 100%;
  }

  mat-row.mat-row.ng-star-inserted 
  {
    border: 0;
  }


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}

.example-margin {
  margin: 12px;
}



 td.mat-cell
 {
  border-bottom-style: none;
  
 }

 
 



